#Inicio{
	background: url("img/bckgInicio.jpg"); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
}
#TituloCentral{
	font-size:500%;
	font-family: 'Pacifico', cursive;
	color:#b30047;
	display: none;
}
#Boton{
	align-content:  center;
	background-color: #99003d ;
	color:#fff;
}
#Menu{
	background-color:#99003d ;
}
.TituloSeccion{
	font-family: 'Heebo', sans-serif;
	color:#000;
	font-size: 260%;
}
#LateralGeneral{
	color:#fff;
}
.margen{
	margin:2%;
}
.Contenido{
	font-family: 'ABeeZee', sans-serif;
	font-size: 130%;
	color:#000;
}
.tabTit{
	font-family: 'ABeeZee', sans-serif;
	font-size: 200%;
	color:#fff;	
}
.ContenidoH{
	font-family: 'ABeeZee', sans-serif;
	font-size: 130%;
	color:#fff;
}
#Curiosidades{
	background-color: #82b3b3;
}
.Hobbies{
	background-color: #262626;
}

.fluid-height{
	height:200px;

}
.fotosRiel{
	width: 272.012px !important;
	height: 262.012px !important;
	margin-top: 15px;
	left: 166.133px;"
}
footer {
  padding: 1em 0;
  text-align: center;
  color: white;
  background-color: #99003d;
  font-family: 'Hind Siliguri', sans-serif;
  font-size:12px ;
  	 }
